<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #3 - Use the same list display from search.html -->

    <div class="list">
        <div th:each="job : ${jobs}">
            <table class="job-listing">
                <tbody>
                <tr>
                    <td>Position Type</td>
                    <td th:text="${job.get('position type')}"></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td th:text="${job.get('name')}"></td>
                </tr>
                <tr>
                    <td>Employer</td>
                    <td th:text="${job.get('employer')}"></td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td th:text="${job.get('location')}"></td>
                </tr>
                <tr>
                    <td>Skill</td>
                    <td th:text="${job.get('core competency')}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

</body>
</html>